{#
/**
* @file
* Theme implementation for a view template to display azure search results title.
*
* Available variables:
* - title: Web page title
*
* @see template_preprocess_azure_bing_search_views_view_title()
*
* @ingroup themeable
*/
#}
{% if title %}
  <h3 class="search-result__title">{{ title }}</h3>
{% endif %}


